<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BASIC TEMLATES URL</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <!--integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="navbar-nav">
            <a class="navbar-brand" href="{% url 'index' %}">BRAND</a>
            <a class="navbar-item nav-link" href="{% url 'admin:index' %}">Admin</a>
            <a class="nav-item nav-link" href="{% url 'basic_app:other' %}">Other</a>
            <a class="nav-item nav-link" href="{% url 'basic_app:clickbit' %}">Clickbit</a>
      </div>
    </nav>

    <div class="container">

      {% block body_block %}
      {% endblock %}
    </div>

  </body>
</html>
